@using Microsoft.AspNetCore.Identity
@using Domain.Models.Entities
@inject SignInManager<AppUser> SignInManager
@inject UserManager<AppUser> UserManager

<ul class="navbar-nav">
    @if (SignInManager.IsSignedIn(User))
    {
        <li class="nav-item">
            <form class="form-inline" asp-controller="Account" asp-action="Logout" asp-route-returnUrl="@Url.Action("Index", "Home")">
                <button type="submit" class="nav-link-inclass nav-link btn btn-link">
                    <i class="bi bi-box-arrow-right"></i>
                    <span>
                        Logout
                    </span>
                </button>
            </form>
        </li>
    }
    else
    {
        <li class="nav-item">
            <a class="nav-link-inclass nav-link" asp-controller="Account" asp-action="Login">
                <i class="bi bi-box-arrow-right"></i>
                <span>
                    Login
                </span>
            </a>
        </li>
        <li class="nav-item">
            <a class="nav-link-inclass nav-link" asp-controller="Account" asp-action="Register">Register</a>
        </li>
    }
</ul>
