@{
    ViewData["Title"] = "Home Page";
}

@section Styles
{
    <link rel="stylesheet" href="~/css/Home/HomeIndex.css" />
}

<div class="welcome-header jumbotron">
    <div class="mt-5">
        <span class="welcome-header-text">Welcome to InClass application</span>
        <h4 class="mt-2">InClass is an application created to help in attendance check process.</h4>
        <h4>Please, create an account or sign in to start using application</h4>
    </div>
    <div class="welcome-buttons justify-content-between">
        <a class="btn btn-info btn-lg" asp-controller="Account" asp-action="Register">Register</a>
        <a class="btn btn-success btn-lg" asp-controller="Account" asp-action="Login">Login</a>
    </div>
</div>