.groups-list-header {
    justify-content: space-evenly;
    margin-bottom: 20px;
}

.groups-list-header-text {
    font-size: 40px;
    font-weight: bold;
    float: left;
}

.groups-list-btn-add {
    padding-top: 10px;
    float: right;
}

.groups-list-actions {
    justify-content: space-between;
    display: flex;
    margin-left: -18px;
}
