.center {
    margin: auto;
    padding: 70px 0;
    text-align: center;
}

.code-text {
    font-size: 6rem;
}

.bordered {
    border: 3px solid;
}

.back-action {
    color: black;
    font-size: 1.5em;
}